{{> head}}

{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Noooooo!!!!</h1>
        <p>
            Siiiiiiii!!!
        </p>
    </div>

    <div>
        <img src="boostrap/img/LogoWPSOffice.png" class="img-thumbnail">
    </div>
</div>

{{> footer}}